.services-container {
	height: 200vh; 
	margin-top: 5em;
	margin-bottom: 5em;  
}

h3.services-main-header {
	font-size: 22pt;
	color: #4e4e4e; 
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .75em;
	margin-bottom: 1em;
}

.hr-line {
	width: 60%;
	height: 3px; 
	margin-left: auto; 
	margin-right: auto; 
	border-top: 3px solid #414040; 
}

.nails-content {
	width: 520px; 
	height: 1500px; 
	display: inline-flex; 
	columns: 2 300px; 
	background-color: rgba(68, 63, 68, 0.26);
	padding-top: 2em; 
	padding-bottom: 2em; 
}

.service-header-first {
	margin-bottom: .75em; 
	margin-top: .5em;
	display: inline-flex;
	color: #616060; 
	letter-spacing: .2em;
}

.service-header {
	margin-bottom: .75em; 
	margin-top: 2.5em;
	display: inline-flex;
	color: #616060; 
	letter-spacing: .1em;
}

.column {
	flex: 55%; 
	padding: 0px; 
	display: inline-flex;
}

ul.nails-menu {
	list-style: none;
	display: block; 
}

.nails-menu > li {
	display: flex;
	margin: 15px 0px; 
	letter-spacing: .05em;
}

.nails-menu > li > .key {
	width: 350px; 
	color: #414040; 
	text-align: left;
	padding-right: 0px; 
	padding-left: 0px;
}

.nails-menu > li > .value {
	width: 50px; 
	text-align: left;
	padding-right: 0px; 
	/*padding-left: 15px;*/
	margin-left: 50px; 
	color:#414040; 
	font-weight: 600;
}

