

.homepage-textbox {
  /*position: absolute; */
  display: flex;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
}

.main-header {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  color: rgba(94, 93, 93, 0.219); 
  text-transform: uppercase;
  letter-spacing: 2.5rem;
}