.about-header {
	font-size: 26pt;
	color: #4e4e4e; 
	padding: 1em;
	text-transform: uppercase;
	letter-spacing: .8rem; 
}

.about-content {
	text-align: left;
	padding: .75em;
	letter-spacing: .05em;
	color: rgb(75, 74, 74); 
	font-weight: 400;
	margin-left: 10em; 
	margin-right: 10em;



}