.footer-container {
  width: 100%; 
  overflow: hidden;
  height: 90px; 
  background-color: rgba(7, 0, 6, 0.356);
  padding-top: 20px;
  bottom: 0; 
  position: fixed; 
}

.footer-left {
  width: 33%; 
  float: left;
}
p.footer-hours {
  color: #dfdfdf; 
  font-size: 12px;
}

.footer-center {
  width: 33%; 
  float:right;
}

.footer-right {
  width: 33%; 
  float: right;
}
p.footer-address {
  color: #dfdfdf;
  font-size: 12px;
}