.App {
  text-align: center;
}

* {
  font-family: 'Lato', sans-serif; 
  box-sizing: border-box; 
  margin: 0; 
}

body {
  height: 100vh; 
  background-image: linear-gradient(
    to right bottom, 
    #b2f8f8de, 
    #f3acd6b7, 
    #ecdec8de), 
    url('./Images/blossom2-flower.jpeg');
}